body{
    align-items:center;
    justify-content:center;
    display:flex;
    background-color:coral
}

#container{
background-color:cornflowerblue;
height:400px;
width:350px;
border-radius:50px;
overflow:hidden; /*it hidex anything outside the container prevent child elemnet lieaking outside */
position:relative; /*this will help to appear the heratv icon top of the image . and inside the boundary of 
of div */
}

#container img{
    object-fit:cover; /* helps the image to fill the conatainer*/
    width:100%;
    height:100%;
    object-position:center; /*adjust the image and make it fit to the image container*/
    position:absolute; /*allow to sit the image in a spacific spot */
}

#container i{
    position:absolute;
color:white;
top:50%;
left:50%;
transform:translate(-50%,-50%) scale(0);
font-size:70px;
opacity:0;
transition: transform ease 0.4s
}