body{
   background: #6bbef2;
background: linear-gradient(90deg, rgba(107, 190, 242, 1) 0%, rgba(232, 230, 230, 1) 46%, rgba(250, 228, 157, 1) 100%, rgba(190, 190, 196, 1) 47%);
justify-content: center;
align-items:center;
 font-family: "Playwrite HU", cursive
}

 #navigation{
background-color:#ffffff4d;
top:0;
    position:sticky;
    z-index:10;
border-radius:10px;
 }
#navigation ul{
    color:rgb(77, 75, 75);
    
    display:flex;
    justify-content: space-around;
    
}

.form-card{
    border:1px solid black;
    margin-top:10%;
    margin-left:70px;
    width:80%;
    display:flex;
    height:400px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius:10px;
padding:50px;
      background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Add a subtle shadow */
    backdrop-filter: blur(10px); /* The key to the effect */
    -webkit-backdrop-filter: blur(10px);
}

.from{
display:flex;
flex-direction: column;
justify-content:space-around;
gap:20px;
padding:50px;
}

#name,#phone, #pic, #position,#blood{
    border-radius:25px;
    height:50px;
    background-color: rgb(255, 255, 255,0.3);
    border:1px solid white
}

#alert{
    color:white;
}

.idcard{
    
    border:1px solid black;
    margin-top:10%;
    margin-left:70px;
    width:80%;
    display:flex;
    height:400px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius:10px;
padding:50px;
      background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Add a subtle shadow */
    backdrop-filter: blur(10px); /* The key to the effect */
    -webkit-backdrop-filter: blur(10px);
}

.idcard img{
    overflow:hidden;
    height:100%;
    width:70%;
    object-fit: cover;
    position: relative;
    border-radius:25px;
    
}
#uname,#uphone,#uposition,#ublood{
    display:flex;
    padding:20px;
    padding-right:0 0;
} 
.grp-name{
    text-align: center;
    padding:20px;
    font-size:70px;
}

.playwrite-hu{
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
#sbt{
    background-color: rgba(255,255,255,0.3);
    height:35px;
    border-radius: 30px;
    width:120px;
    border:1px solid white;
    padding:5px;
    color:hotpink;
    transition: 0.4s ease;
}
#sbt:hover{
    
    transform:scale(1.2)
}