html, body {
  height: 100%; 
   margin: auto;   /* Remove default browser margins */
  padding:auto;/* Make both html and body take up the full viewport height */
   /* Remove default browser padding */
}
body{
background-image: url("https://media.istockphoto.com/id/2155475257/photo/checklist.jpg?s=2048x2048&w=is&k=20&c=EakgaXgfJZeAKvc4NwGMTpreZQyDnwyOfZkYff53jj4=");
background-size: cover;
background-repeat: no-repeat;
height:100%;
width:100%;
background-position: center;
}


.container{
    border:1px solid black;
    height:30%;
    width:100%;
    text-align: center;
    display:none;
}

.card h1{
    border:2px solid black;
    display: none;
}

.addnew h1{
    border:1px solid lavender;
    border-radius: 10px;
    text-align: center;
    color:white;
    background-color: rgba(233,233,233,0.3);
}

.tasksection h1{
border:1px;
text-align: center;
}
.tasks{
    height:2%;
    margin-top:20px;
    border-radius: 12px;
    color:black;
   gap:30px;
}
.tasks:hover{
transform: scale(1.1);
}

cutomsec{
    width:80%;
    height:30px;
}
customsec:hover{
transform: scale(1.1);
}

.donebtn{
    margin-top:20px;
    border-radius: 5px;
    border: 1px solid black;
 background-color: (233,233,233,0.3);
   height:35px;
    width:100px;
    background-color: white;
    color:rgb(33, 115, 148)
}
.delbtn{
     margin-top:20px;
    border-radius: 5px;
    border: 1px solid white;
    margin-left:50%;
    background-color: rgb(43, 163, 211);
       height:25px;
       color:white;
    width:70px;
}
.svbtn{
    margin-left:30px;
    background-color:white;
    height:30px;
    width:100px;
    border-radius:10px;
    border:1px solid white;
    color:skyblue;
    font-size: 20px;;
}