.body{
background: #ab41a4;
background: linear-gradient(90deg, rgba(171, 65, 164, 1) 0%, rgba(80, 80, 163, 1) 100%, rgba(164, 78, 245, 1) 46%);
}

.loginsection{
   
    gap:20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    height:100vh;
   
}
#username{
   
    border:1px solid white;
    border-radius:50px;
    height:50px;
    width:400px;
}

#passwordinput{
    border:1px solid white;
    border-radius:50px;
    height:50px;
    width:400px
}
.first{
    color:white;
    text-align: center;
}

button[type="login"] {
   
    background-color:#A44EF5; 
    color: white;
    border: none;
    border-radius: 70px;
    height:65px;
    width:250px;
    cursor: pointer;
    font-size: 16px;
}

button[type="login"]:hover {
    background-color: #db1ca5;
}

body{
background: #ab41a4;
background: linear-gradient(90deg, rgba(171, 65, 164, 1) 0%, rgba(80, 80, 163, 1) 100%, rgba(164, 78, 245, 1) 46%);
}

.notecontianer{
    display:flex;
    flex-direction:column;
}
.logout{
    color:hotpink
}